

    .navbar{width: 100%;
    background-image: linear-gradient(to right,white, beige,#ffc107,#db5bdb)
     ;}
     .nav-link{color: white; !important;}
    
  
     html,
     body {
       height: 100%;
       font-size: 1rem;
       font-family: "Montserrat", sans-serif;
     }
     
     .gradient {
       background: rgb(0, 97, 242);
       background: linear-gradient(
         135deg,
         rgb(211, 25, 202) 0%,
         rgb(245, 172, 15) 100%
       );
     }
     
     .page-header {
       margin-top: 4rem;
       font-size: 1.25rem;
       color: #fff;
     }
     
     .feature {
       color: #fff;
     }
     
     .feature ul {
       padding-left: 2rem;
       list-style-type: none;
     }
     
     .feature ul li {
       padding-left: 2rem;
       background-image: url(../img/check.svg);
       background-repeat: no-repeat;
       line-height: 1.5rem;
       margin-bottom: 1rem;
     }
     
     .icon {
       color: #fff;
       height: 5rem;
       width: 5rem;
       font-size: 1.75rem;
       border-radius: 100%;
       display: inline-flex;
       align-items: center;
       justify-content: center;
     }
     
     .gallery {
       background-color: whitesmoke;
     }
     
     .gallery img {
       border-radius: 5%;
     }
     
     .services {
       color: #fff;
     }
     
     footer {
       color: #fff;
       font-size: 1rem;
       margin: 0;
       padding: 1rem;
     }
     
     a {
       color: #fff;
       text-decoration: none;
     }

/* Footer Section */


.site-footer {
 padding: 1em 0;
  background: #db5bdb;
  font-size: 14px;
  color: white;
  height: 340px;
}

.site-footer p:last-child {
    margin-bottom: 0;
}
.site-footer a {
    color:blue
    
}
.site-footer a:hover {
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.site-footer h2 {
    font-size: 22px;
    margin-bottom: 28px;
    letter-spacing: .05em;
    color: white;
}

.site-footer .footer-link li {
    line-height: 1.5;
    margin-bottom: 15px;
}

.footer-social a {
    line-height: 0;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 1px solid rgba(255,255,255,0.1);
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}

.footer-social a:hover{
    background: white;
    border-color: white;
    color: black;
}

.footer-social .fa {
    margin-top: 7px;

}