
.gradient-colors

{
    $bgcolor1:#673ab7
$bgcolor2:#9c27b0
$bgcolor3:#3f51b5
$bgcolor4:#cddc39
$bgcolor5:#054f7d
}

.navbar-text-colors
$navTextcolor: #fff
$navTextcolorHover: #ccc
.wrapper
{
    padding:10px !important;
  background: #000  !important;
  height:100vh;
}
  
  
.navbar 
  {padding:5px
  margin-top:25px
  background-position: 0 0
  background-image: linear-gradient(to right, $bgcolor1, $bgcolor2, $bgcolor3, $bgcolor4, $bgcolor4)
  background-size:300%
  animation-duration: 10s
  animation-iteration-count: infinite
  animation-name: menugradientanimation
  }

.nav-link
 {
  color: $navTextcolor !important
  &:hover
    color: $navTextcolorHover !important
    text-decoration: underline
 } 
@keyframes menugradientanimation
  0% 
    background-position: 0 0
  25% 
    background-position: 50% 0
  50% 
    background-position: 90% 0
  60% 
    background-position: 60%
  80% 
    background-position: 40%
  100% 
    background-position: 0 0
