

    .navbar{width: 100%;
    background-image: linear-gradient(to right,white, beige,#ffc107,#db5bdb)
     ;}
     .nav-link{color: white; !important;}
     img {
        border: 5px solid black
     }
     img.sticky{
        top: 0;
        position: sticky;
     }
    